/* CSS Document
 *
 * Colors:
 * - Brown: #5c4b51
 * - Mint: #8cbeb2
 * - Peach: #f2ebbf
 * - Orange: #f3b562
 * - Red: #E74C3C
 * - Gray: #222526
 * - Light Gray: #D3D3D3
 * - Black: #000000
 * - Blue: #2C3E50
 * - Off White: #ECF0F1
 * - https://color.adobe.com/Flat-UI-color-theme-2469224/edit/?copy=true
 *
 * Menu:
 * - Home (Intro)
 * - Experience
 * - Skills
 * - Tools
 * - Contact
 *
 * Fonts:
 * - Open Sans
 * - Varela Round
 */

/*HEADLINE*/
#headline{
    position: fixed;
    display: block;
    margin: 0 auto;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#malcom{
    font-family: 'Space Mono', monospace;
    font-size: 150%;
    width: 960px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: inline;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 300%;
    padding: 0;
    margin: 0;
}
h1, h2{
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    color: #ECF0F1;
    width: inherit;
}
hr {
    display: block;
    width: inherit;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    color: #ECF0F1;
}

/*Mobile*/
@media only screen and (max-width: 900px){
    #headline{
        position: fixed;
        display: block;
        margin: 0 auto;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #malcom{
        font-family: 'Space Mono', monospace;
        font-size: 1em;
        width: 350px;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        display: inline;
    }
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 2em;
        padding: 0;
        margin: 0;
    }
    h2{
        font-size: 0.9em;
    }
    h1, h2{
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
        color: #ECF0F1;
        width: inherit;
    }
    hr {
        display: block;
        width: inherit;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-width: 1px;
        color: #ECF0F1;
    }
}
