/* CSS Document
 *
 * Colors:
 * - Brown: #5c4b51
 * - Mint: #8cbeb2
 * - Peach: #f2ebbf
 * - Orange: #f3b562
 * - Red: #E74C3C
 * - Gray: #222526
 * - Light Gray: #D3D3D3
 * - Black: #000000
 * - Blue: #2C3E50
 * - Off White: #ECF0F1
 * - https://color.adobe.com/Flat-UI-color-theme-2469224/edit/?copy=true
 *
 * Menu:
 * - Home (Intro)
 * - Experience
 * - Skills
 * - Tools
 * - Contact
 *
 * Fonts:
 * - Open Sans
 * - Varela Round
 */

/*ABOUT*/
#about{
    position: fixed;
    margin: 0 auto;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Keeps this div centered*/
    width: 960px;
    height: auto;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Muli', sans-serif;
    font-weight: regular;
    font-size: 125%;
    text-align: justify;
}
#description{
    display: block;
    clear: both;
}
#about img{
    height: 300px;
    border: 0px;
    border-radius: 300px;
    margin-right: 20px;
    /*float: left;*/
    display: inline-block;
    vertical-align: middle;
}
#about span{
    color: #ECF0F1;
    width: 600px;
    height: inherit;
    padding: 0;
    /*float: right;*/
    display: inline-block;
    vertical-align: middle;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 300%;
    padding: 0;
    margin: 0;
}
h1, h2{
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    color: #ECF0F1;
    width: inherit;
}
hr {
    display: block;
    width: inherit;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    color: #ECF0F1;
}

#item-about a{
    color: #E74C3C;
}

/*Mobile*/
@media only screen and (max-width: 768px){
    #about{
        position: relative;
        top: 180px;
        margin: 0 auto;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    .inner{
        opacity: 1;
    }
    #description{
        position: absolute;
        margin: 0 auto;
        width: 100%;
    }
    #about img{
        margin: 0 auto;
        height: 125px;
        border: 0px;
        border-radius: 125px;
        display: block;
    }

    #about span{
        margin: 0 auto;
        padding: 20px 0 20px 0;
        color: #ECF0F1;
        width: 320px;
        display: block;
    }

    #item-about a{
        color: #E74C3C;
    }
}
