/* CSS Document
 *
 * Colors:
 * - Brown: #5c4b51
 * - Mint: #8cbeb2
 * - Peach: #f2ebbf
 * - Orange: #f3b562
 * - Red: #E74C3C
 * - Gray: #222526
 * - Light Gray: #D3D3D3
 * - Black: #000000
 * - Blue: #2C3E50
 * - Off White: #ECF0F1
 * - https://color.adobe.com/Flat-UI-color-theme-2469224/edit/?copy=true
 *
 * Menu:
 * - Home (Intro)
 * - Experience
 * - Skills
 * - Tools
 * - Contact
 *
 * Fonts:
 * - Open Sans
 * - Varela Round
 */



/*RESUME*/
#holder{
    position: fixed;
    margin: 0 auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Keeps this div centered*/
    width: 960px;
    min-width:480px;
    max-width: 1280px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: justify;
    color: #ECF0F1;
}
#current-edu, #past, #extra{
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    width: 30%;
    margin: 0;
    padding: 20px 0 20px 0;
    text-align: center;
}
p{
    font-size: 1em;
}
h4{
    font-size: 1em;
    text-align: center;
}
#current-edu img{
    margin-left: auto;
	margin-right: auto;
	display: block;
    /*width: 128px;*/
    height: 96px;
}

#past{
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: #ECF0F1;
    padding: 20px;
}

.slot{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    vertical-align: middle;
}
.slot img{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}
.slot h4{
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    text-align: center;
    line-height: 100%;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

/*Regular*/
@media only screen and (min-width: 1000px) and (max-width:1399px){

}
/*Mobile*/
@media only screen and (min-width: 0px) and (max-width: 999px){

}
