/* CSS Document
 *
 * Colors:
 * - Brown: #5c4b51
 * - Mint: #8cbeb2
 * - Peach: #f2ebbf
 * - Orange: #f3b562
 * - Red: #E74C3C
 * - Gray: #222526
 * - Light Gray: #D3D3D3
 * - Black: #000000
 * - Blue: #2C3E50
 * - Off White: #ECF0F1
 * - https://color.adobe.com/Flat-UI-color-theme-2469224/edit/?copy=true
 *
 * Menu:
 * - Home (Intro)
 * - Experience
 * - Skills
 * - Tools
 * - Contact
 *
 * Fonts:
 * - Open Sans
 * - Varela Round
 */



/*CONTACT*/
#holder{
    position: fixed;
    margin: 0 auto;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Keeps this div centered*/
    width: 720px;
    min-width:320px;

    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: #ECF0F1;
}
#holder a{
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

/*Regular*/
@media only screen and (min-width: 1000px) and (max-width:1399px){

}
/*Mobile*/
@media only screen and (min-width: 0px) and (max-width: 999px){

}
