/* CSS Document
 *
 * Colors:
 * - Brown: #5c4b51
 * - Mint: #8cbeb2
 * - Peach: #f2ebbf
 * - Orange: #f3b562
 * - Red: #E74C3C
 * - Gray: #222526
 * - Light Gray: #D3D3D3
 * - Black: #000000
 * - Blue: #2C3E50
 * - Off White: #ECF0F1
 * - https://color.adobe.com/Flat-UI-color-theme-2469224/edit/?copy=true
 *
 * Menu:
 * - Home (Intro)
 * - Experience
 * - Skills
 * - Tools
 * - Contact
 *
 * Fonts:
 * - Open Sans
 * - Varela Round
 */



/*PROJECTS*/
#holder{
    position: fixed;
    margin: 0 auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Keeps this div centered*/
    width: 960px;
    min-width:480px;
    max-width: 1280px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: justify;
    color: #ECF0F1;
}
#project{
    vertical-align: top;
    display: inline-block;
    width: 45%;
    margin: 0;
    padding: 20px 0 20px 0;
    text-align: justify;
}
p{
    font-size: 1em;
}
h1{
    text-align: center;
}
img{
    margin-left: auto;
	margin-right: auto;
	display: block;
    /*width: 128px;*/
    height: 96px;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#project a{
    /*font-weight: bold;*/
    text-decoration: none;
    color: #ECF0F1;
}
#project a:hover{
    color: #E74C3C;
}

/*Regular*/
@media only screen and (min-width: 1000px) and (max-width:1399px){

}
/*Mobile*/
@media only screen and (min-width: 0px) and (max-width: 999px){

}
