/* CSS Document 
 * 
 * Colors:
 * - Background: #464646
 * - Blue: #179ee6
 * - Orange: #e69117
 * - Green: #17e634
 * - Red: #e61717
 * - Purple: #c617e6
 * - Dark Blue: #293848
 * 
 * Sections:
 * - Background
 * - Education
 * - Skills
 * - Experience
 * - Connect	  
 * 
 * Fonts:
 * - Open Sans
 * - Varela Round
 */

/*FONTS*/

@font-face{
	font-family: quicksand-reg;
	src: url('../fonts/Quicksand/Quicksand-Regular.otf');
}

@font-face{
	font-family: quicksand-light;
	src: url('../fonts/Quicksand/Quicksand-Light.otf');
}

@font-face{
	font-family: quicksand-bold;
	src: url('../fonts/Quicksand/Quicksand-Bold.otf');
}

@font-face{
	font-family: quicksand-dash;
	src: url('../fonts/Quicksand/Quicksand_Dash.otf');
}

@font-face{
	font-family: quicksand-bolditalic;
	src: url('../fonts/Quicksand/Quicksand_BoldItalic.otf');
}

/*WEBPAGE BODY FORMAT*/

html{
	margin: 0;
	padding: 0;
}

body{
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
	font-family:  'Quicksand', quicksand-light;
	width: 100%;
    min-width: 10em;
	background-image: url('../media/bg.jpg'); 
	background-repeat: repeat;
}

header,section,article,aside,footer{
	display: block;
}

footer{
	margin-top: 100px;
}


/*TEXT FORMATTING*/
 
h1, h2, h3, h4, h5, h6{
	font-family:  'Quicksand', quicksand-reg;
	color: #293848;
    text-align: left;
	font-weight: 300;
}

p, li{
	font-family:  'Quicksand', quicksand-reg;
    color: #293848;
}


/*SIDE MENU*/
 
#mlj{
	font-family:  'Quicksand', quicksand-bolditalic;
    font-size: 2em;
	color: white;
	padding-right: 10px;
}
 
.fixedMenu{
	background: #293848;
	position:fixed;
	width: auto;
	height: 100%;
	top: 0px;
}

.fixedMenuList{
	top: 50%;
    text-align: center;
}

.fixedMenu a{
	font-family:  'Quicksand', quicksand-reg;
	font-size: 2em;
    color: white;
    text-decoration: none;
	line-height: 200%;
}

.button_bg:hover{
	background-image: url('../media/bg.jpg'); 
	background-repeat: repeat;
	color: #293848;
	overflow: inherit;
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms; /* Safari */
}

/*MAIN PAGE*/
 
section{
	margin: 0 auto;
    max-width: 1000px;
	width: 60%;
}

#lsection{
	float: left;
	overflow: hidden;
	background: black;
}

#rsection{
	float: right;
	overflow: hidden;
	background: blue;
}

footer{
	clear:both !important;
	width: 100%;
}

footer p{
    text-align: center;
	font-size:x-small;
}

ul{
    color: #293848;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.spacer {
	height: 25px;
}

.heading{
	padding-top: 20px;
	overflow: parent;
}

h1{
    font-weight: 700;
	padding: 0px;
	margin: 0px;
}

img{
	height: 100px;
    width: auto;
    vertical-align: text-top;
    float: left;
    margin: 0px 20px 0px 0px;
	border: 0px;
	border-radius: 5px;
}

table{
    width: 100%;
}

.divider{
    width: 5%;
}

.block {
	padding: 20px;
    min-height: 200px;
    background: none;
	font-size: 1.5em;
    /* Box Shadow Syntax:
     * box-shadow: h-shadow v-shadow blur spread color inset;
     *
    box-shadow: 5px 10px 7px 2px #181818;*/
}

.block ul{
	text-align: center;
    line-height: 2em;
}

.block_connect{
	padding: 20px;
    min-height: 200px;
    background: none;
	font-size: 1.5em;
}

.block_connect ul{
	text-align: center;
    line-height: 2em;
}

.block_connect li{
    display: inline;
}

.block_connect a{
	color: #293848;
	text-decoration: none;
}

#android{
	color: #A4C639;
}

#windows{
	color: #2672EC;
}

#html5{
	color: #E34C26;
}

#css3{
	color: #1572b6;
}

#linkedin:hover{
	color: #0e76a8;
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms; /* Safari */
}

#fb:hover{
	color: #3b5998;
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms; /* Safari */
}

#twitter:hover{
	color: #00acee;
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms; /* Safari */
}

#gplus:hover{
	color: #dd4b39;
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms; /* Safari */
}

#instagram:hover{
	color: #986a54;
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms; /* Safari */
}

#gmail:hover{
	color: #16a61e;
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms; /* Safari */
}

/*XXLarge*/
@media only screen and (min-width: 1450px){

.block{
	min-height: 150px;
}
img{
	height: 100px;
}
}
/*XLarge*/
@media only screen and (min-width: 1450px){

.block{
	min-height: 150px;
}
img{
	height: 100px;
}
}
/*Large*/
@media only screen and (min-width: 1000px) and (max-width:1449px){

.block{
    min-height: 150px;
}
img{
    height: 100px;
}
.fixedMenu{
	display: none!important;
}
}
/*Mobile*/
@media only screen and (min-width: 0px) and (max-width: 999px){

.block{
    min-height: 150px;
}
img{
    height: 100px;
}
.fixedMenu{
    display: none!important;
}
}


