/* CSS Document
 *
 * Colors:
 * - Brown: #5c4b51
 * - Mint: #8cbeb2
 * - Peach: #f2ebbf
 * - Orange: #f3b562
 * - Red: #E74C3C
 * - Gray: #222526
 * - Light Gray: #D3D3D3
 * - Black: #000000
 * - Blue: #2C3E50
 * - Off White: #ECF0F1
 * - https://color.adobe.com/Flat-UI-color-theme-2469224/edit/?copy=true
 *
 * Menu:
 * - Home (Intro)
 * - Experience
 * - Skills
 * - Tools
 * - Contact
 *
 * Fonts:
 * - Open Sans
 * - Varela Round
 */



/*RESUME*/
#holder{
    position: fixed;
    margin: 0 auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Keeps this div centered*/
    width: 960px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: justify;
    color: #ECF0F1;
}
#current, #past, #extra{
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    width: 30%;
    margin: 0;
    padding: 20px 0 20px 0;
    text-align: center;
}
p{
    font-size: 1.2em;
}
h2{
    font-family: 'Muli', sans-serif;
    text-align: center;
}
h4{
    text-align: center;
}
#current img, #extra img{
    margin-left: auto;
	margin-right: auto;
	display: block;
    /*width: 128px;*/
    height: 96px;
}

#past{
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: #ECF0F1;
    padding: 20px;
}

.slot{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    vertical-align: middle;
}
.slot img{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}
.slot h4{
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    text-align: center;
    line-height: 100%;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
#item-resume a{
    color: #E74C3C;
}

/*Mobile*/
@media only screen and (max-width: 768px){
    .inner{
        opacity: 1;
    }
    #holder{
        position: relative;
        top: 180px;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        text-align: center;
        color: #ECF0F1;
        background-color: red;
    }
    #scroller{
        position: absolute;
        margin: 0 auto;
        width: 100%;
    }
    #current, #extra{
        display: block;
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    #current img, #extra img{
        margin: 0 auto;
    	display: block;
        height: 96px;
    }
    #current{
        padding-top: 0;
    }
    #past{
        margin: 0 auto;
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: 0;
        border-left: 0;
        border-color: #ECF0F1;
        padding: 20px 0 20px 0;
        display: block;
        width: 300px;
        /*background-color: green;*/
    }
    .stretch {
        width: 0px;
        display: block;
        font-size: 0;
        line-height: 0
    }
    #item-resume a{
        color: #E74C3C;
    }
}
